#footer #personel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

#footer #personel li {
  width: 25%;
  height: 100%;
  text-align: center;
  color: #fff;
  list-style: none;
  font-size: 18px; }
